@using OpenRpg.Genres.Fantasy.Characters

<div class="card has-background-light with-rounding">
    <div class="card-content">
        <div class="container">
          @if (Character != null)
          {
              <CharacterDetails Name="@Character.NameLocaleId" RaceTemplate="@Character.Race" Class="@Character.Class" />
              <br/>
              <CharacterVitals Stats="@Character.Stats" />
              <br/>
              <CharacterStats Stats="@Character.Stats" />
          }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ICharacter Character { get; set; }
}